<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322047224635-ldrfld2a5rj6ijl9jht7tlp6u29tasr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322047224635-ldrfld2a5rj6ijl9jht7tlp6u29tasr7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>322047224635-a0mlfiia8hbnnpp59mfqo56n8m9ojtdi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzC3rYW7IaRhL9ZoAX7WjefJEEGQnlwVs</string>
	<key>GCM_SENDER_ID</key>
	<string>322047224635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onemdev.flutteruichallenges</string>
	<key>PROJECT_ID</key>
	<string>flutter-ui-challenges-hgl</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ui-challenges-hgl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322047224635:ios:b1cd7fd95a9c7896</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-ui-challenges-hgl.firebaseio.com</string>
</dict>
</plist>